BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "pin_clk" SITE "B18" ;
IOBUF PORT "pin_clk" IO_TYPE=LVCMOS33 PULLMODE=NONE TERMINATION=OFF DIFFRESISTOR=OFF OPENDRAIN=OFF CLAMP=ON SLEWRATE=NA ;
IOBUF PORT "pin_cs" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 TERMINATION=OFF ;
IOBUF PORT "pin_mosi" IO_TYPE=LVCMOS33 PULLMODE=NONE TERMINATION=OFF DIFFRESISTOR=OFF ;
IOBUF PORT "pin_led" IO_TYPE=LVCMOS33 TERMINATION=OFF SLEWRATE=SLOW PULLMODE=NONE ;
IOBUF PORT "pin_pu" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "pin_usbn" IO_TYPE=LVCMOS33 TERMINATION=OFF PULLMODE=NONE ;
IOBUF PORT "pin_usbp" IO_TYPE=LVCMOS33 TERMINATION=OFF PULLMODE=NONE ;
LOCATE COMP "pin_cs" SITE "U17" ;
LOCATE COMP "pin_mosi" SITE "U18" ;
LOCATE COMP "pin_led" SITE "C1" ;
LOCATE COMP "pin_pu" SITE "F15" ;
LOCATE COMP "pin_usbn" SITE "F17" ;
LOCATE COMP "pin_usbp" SITE "F16" ;
IOBUF PORT "pin_miso" IO_TYPE=LVCMOS33 PULLMODE=NONE TERMINATION=OFF DIFFDRIVE="NA" HYSTERESIS=ON DIFFRESISTOR=OFF OPENDRAIN=OFF CLAMP=ON DRIVE=NA SLEWRATE=NA ;
LOCATE COMP "pin_miso" SITE "T18" ;
SYSCONFIG CONFIG_IOVOLTAGE=3.3 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE CONFIG_MODE=SPI_QUAD MCCLK_FREQ=38.8 COMPRESS_CONFIG=ON ;
BANK 8 VCCIO 3.3 V;
BANK 7 VCCIO 3.3 V;
BANK 6 VCCIO 3.3 V;
BANK 3 VCCIO 1.8 V;
BANK 2 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 0 VCCIO 3.3 V;
VOLTAGE 1.050 V;
LOCATE COMP "pin_io2" SITE "R18" ;
IOBUF PORT "pin_io2" IO_TYPE=LVCMOS33 DRIVE=8 TERMINATION=OFF PULLMODE=NONE ;
IOBUF PORT "pin_io3" IO_TYPE=LVCMOS33 TERMINATION=OFF PULLMODE=NONE ;
LOCATE COMP "pin_io3" SITE "N18" ;
LOCATE COMP "pin_programn" SITE "A6" ;
IOBUF PORT "pin_programn" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 TERMINATION=OFF HYSTERESIS=NA OPENDRAIN=ON DIFFDRIVE="NA" ;
OUTPUT PORT "pin_programn" LOAD 0.000000 pF ;
IOBUF PORT "pin_26" IO_TYPE=LVCMOS33 ;
LOCATE COMP "pin_26" SITE "A4" ;
