###############################################################################
# Family & Device:    iCE40LP8K
# Package:            CM81
###############################################################################

set_io pin_cs F7
set_io pin_sck G7
set_io pin_mosi G6
set_io pin_miso H7
set_io pin_usbp A3
set_io pin_usbn A4
set_io pin_clk C4

